
  tr.detail-row {
    height: 0;
  }
  
  tr.element-row:not(.expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.element-row:not(.expanded-row):active {
    background: #efefef;
  }
  

  .element-detail {
    overflow: hidden;
    display: flex;
  }