<div class="card" >
    <div class="card-body titulo" id="titulo">
        Cadastrar Cliente
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="clienteForm" (ngSubmit)="inserirCliente()" #formDirective="ngForm" (ngSubmit)="submitForm(clienteForm, formDirective)">
            <div class="form-group" >
                <label for="exampleFormControlInput1">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">CPF</label>
                <input type="text" class="form-control" id="cpf" formControlName="cpf">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Endereço</label>
                <input type="text" class="form-control" id="endereco" formControlName="endereco">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Telefone</label>
                <input type="text" class="form-control" id="telefone" formControlName="telefone">
            </div>
            <div class="form-group float-right">
                <div class="form-check-inline">
                    <button type="submit" class="btn btn-success btn-md">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>
