
<div class="card" >
    <div class="card-body titulo" id="titulo">
        Editar usuario
    </div>
</div>

<div class="card">
    <div class="card-body formulario">
        <form >
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome</label>
                <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="currentUser.nome">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Email</label>
                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="currentUser.email">
            </div>
            <div class="form-group">
                <label id="radio-group-label" for="exampleFormControlInput1">Perfil de Usuário</label>
                    <mat-radio-group
                    aria-labelledby="radio-group-label"
                    class="radio-group"
                    formControlName = "role">
                    <mat-radio-button class="radio-button" *ngFor="let role of roles" [value]="role" [(ngModel)]="currentUser.role">
                        {{role}}
                    </mat-radio-button>
                    </mat-radio-group>
                
            </div>
            <div class="form-group float-right">
                <div class="form-check-inline">
                    <button type="submit" class="btn btn-success btn-md">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>