<div class="card">
    <div class="card-body titulo" id="titulo">
        Dashboard
    </div>
</div>
<div class="mat-elevation-z8">
    <div class="row">
        <div class="col-6 mat-elevation-z8">
            <google-chart #chart
   [title]="title"
   [type]="type"
   [data]="data"
   [columnNames]="columnNames"
   [options]="options"
   [width]="width"
   [height]="height">
</google-chart>
        </div>
        <div class="col-4">
            
        </div>
    </div>
    <div class="row">

        <div class="col-12">

           
        </div>
    </div>
</div>