<div class="card">
    <div class="card-body titulo" id="titulo">
        Cadastrar Produto
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form [formGroup]="produtoForm">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome</label>
                <input type="text" class="form-control" id="nome">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Descrição</label>
                <input type="text" class="form-control" id="descircao">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Valor Unitário</label>
                <input type="text" class="form-control" id="valorUnitario">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Fornecedor</label>
                <ngx-select-dropdown (change)="selectionChanged($event)" formControlName="selectData" [multiple]="true"
                    [config]="config" [options]="dropdownOptions">
                </ngx-select-dropdown>
            </div>
            <div class="form-group float-right">
                <div class="form-check-inline">
                    <button type="button" class="btn btn-success btn-md">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>