<div class="card">
    <div class="card-body titulo" id="titulo">
        Cadastrar Produto
    </div>
</div>
<div class="card">
    <div class="card-body formulario">
        <form [formGroup]="produtoForm"  (ngSubmit)="iserirProduto()" #formDirective="ngForm" (ngSubmit)="submitForm(produtoForm, formDirective)">
            <div class="form-group">
                <label for="exampleFormControlInput1">Nome</label>
                <input type="text" class="form-control" id="nome" formControlName="nome">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Descrição</label>
                <input type="text" class="form-control" id="descricao" formControlName="descricao">
            </div>
            <div class="form-group">
                <label for="exampleFormControlInput1">Valor Unitário</label>
                <input type="number" class="form-control" id="valor" formControlName="valor">
            </div>
            <div class="form-group" >
                <label for="exampleFormControlInput1">Fornecedor</label>
                <mat-select  [formControl]="fornecedorVM" multiple class="form-group">
                    <mat-option *ngFor="let item of fornecedores let i = index" [value]="item">{{item.nome}}</mat-option>
                  </mat-select>
            </div>
            <div class="form-group float-right">
                <div class="form-check-inline">
                    <button type="button" (click)="iserirProduto()" class="btn btn-success btn-md">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md">Cancelar</button>
                </div>
            </div>
           </form>
    </div>
</div>