<div class="card">
    <div class="card-body titulo" id="titulo">
        Cadastrar Pedido
    </div>
</div>
<div class="card">
    <div class="card-body ">
        <form  #formDirective="ngForm">
            <div class="row">
                <div class="col-5">

                    <label for="cliente">Cliente</label>
                    <ngx-select-dropdown  [(ngModel)] ="pedidoVenda.cliente" [multiple]="false"
                    [config]="config" [options]="clientes" name="cliente"
                    #cliente="ngModel" >
                </ngx-select-dropdown>
            </div>
            <div class="col-6">&nbsp;</div>
        </div>
        <span><br> <hr></span>
            <div class="row col-12">
                
                <div class="col-1"><label>-</label></div>
                <div class="col-4"><label>Produto</label></div>
                <div class="col-1"><label>Quant.</label></div>
                <div class="col-2"><label>Preço Venda</label></div>
                <div class="col-2"><label>Estoque Atual</label></div>
                <div class="col-2"><label>Valor total</label></div>
            </div>
            <div class="row col-12" *ngFor="let item of pedidoVenda.itemsPedido; let in = index">
                <div class="col-1">
                    <button class="btn btn-danger" type="button" (click)="removeItemPedido(item)">
                        &nbsp;-&nbsp;
                    </button>
                </div>
                
                <div class=" col-4">
                    <ngx-select-dropdown (change)="selectionChanged($event,in)" 
                        [multiple]="false" 
                        [config]="config" 
                        [options]="produtos" 
                        id="produto-{{in}}"
                        [(ngModel)]="item.idProduto" 
                        name="produto-{{in}}"
                        #produto="ngModel" >
                    </ngx-select-dropdown>
                </div>
                <div class=" col-1">
                    <input type="text" class="form-control" 
                    id="quantidade-{{in}}" 
                    [(ngModel)]="item.quantidade" 
                    name="quantidade-{{in}}"
                    #quantidade="ngModel" 
                    >
                </div>
                <div class=" col-2">
                    <input type="text" class="form-control" id="preco-{{in}}"
                    [(ngModel)]="item.preco" 
                    name="preco-{{in}}"
                    #preco="ngModel"
                    value="item.idProduto.valor" >
                </div>
                <div class=" col-2">
                    <input type="text" class="form-control" id="estoque-{{in}}"
                    [(ngModel)]="item.estoque" 
                    name="estoque-{{in}}"
                    #estoque="ngModel">
                </div>
                <div class=" col-2">
                    <input type="text" class="form-control" id="valorTotal-{{in}}"
                    [(ngModel)]="item.valorTotal" 
                    name="valorTotal-{{in}}"
                    #valorTotal="ngModel"
                    value="item.valor * item.quatidade">
                </div>
                <span><br> <hr></span>
            </div>
            <div class="col-1">
                <button class="btn btn-info" type="button" (click)="adicionarItemPedido()">
                    &nbsp;+&nbsp;
                </button>
            </div>
           
            <div class="form-group float-right row">
                <div class="form-check-inline">
                    <button type="submit" class="btn btn-success btn-md">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>
<span> {{pedidoVenda | json}} </span>