<div class="card">
    <div class="card-body titulo" id="titulo">
        Lançar Pedido - Venda
    </div>
</div>
<div class="card">
    <!-- <span> {{pedidoVenda | json}} </span> -->

    <div class="card-body ">
        <form  #formDirective="ngForm">
            <div class="row">
                <div class="col-5">

                    <label for="cliente">Cliente</label>
                   <ngx-select [items]="clientes"
                            [(ngModel)]="pedidoVenda.cliente.id"
                            name="cliente" #cliente="ngModel">
                    </ngx-select>
            </div>
                <div class="col-2">
                    <label for="desconto">Desconto</label>
                        <input class="form-control" id="desconto" 
                                      name="desconto" type="number" 
                                      [(ngModel)]="desconto" >
                </div>
                <div class="col-2">
                    <label for="valorTotal">Valor Total do Pedido</label>
                        <input #input class="form-control" id="valorTotal" 
                                      name="valorTotal" type="number" #valorTotal="ngModel"
                                      [(ngModel)]="pedidoVenda.valorTotal" disabled>
                </div>
                <div class="col-1">
                    <label for="valorTotal">&nbsp;</label>
                    <button class="btn btn-primary form-control" (click)="calcularValorTotalDaVenda()">Calcular</button>
                </div>
        </div>
        <span><br> <hr></span>
            <div class="row col-12">
                
                <div class="col-1"><label>&nbsp;</label></div>
                <div class="col-3"><label>Produto</label></div>
                <div class="col-1"><label>Quant.</label></div>
                <div class="col-2"><label>Preço Compra</label></div>
                <div class="col-2"><label>Preço Venda</label></div>
                <div class="col-1"><label>Estoque Atual</label></div>
                <div class="col-2"><label>Sub-total</label></div>
            </div>
            <div class="row col-12" *ngFor="let item of pedidoVenda.itemPedidos; let in = index">
                <div class="col-1">
                    <button class="btn btn-danger" type="button" (click)="removeItemPedido(item)">
                        &nbsp;-&nbsp;
                    </button>
                </div>
                
                <div class=" col-3">
                    <ngx-select (selectionChanges)="selectionChanged($event,in)"
                            [items]="produtos" 
                            id="produto-{{in}}"
                            [(ngModel)]="item.idProduto"
                            name="produto-{{in}}"
                            #produto="ngModel">
                    </ngx-select>
                </div>
                <div class=" col-1">
                    <input type="number" class="form-control" 
                    id="quantidade-{{in}}" 
                    [(ngModel)]="item.quantidade" 
                    name="quantidade-{{in}}"
                    #quantidade="ngModel" 
                    (change)="calcularSubTotalDaLinha(in)"
                    >
                </div>
                <div class=" col-2">
                    <input type="number" class="form-control" id="precoCompra-{{in}}"
                    [(ngModel)]="item.precoCompra" 
                    name="precoCompra-{{in}}"
                    #preco="ngModel"
                    (change)="calcularSubTotalDaLinha(in)"
                    disabled
                    >
                </div>
                <div class=" col-2">
                    <input type="number" class="form-control" id="preco-{{in}}"
                    [(ngModel)]="item.preco" 
                    name="preco-{{in}}"
                    #preco="ngModel"
                    (change)="calcularSubTotalDaLinha(in)"
                    >
                </div>
                <div class=" col-1">
                    <input type="number" class="form-control" id="estoque-{{in}}"
                    [(ngModel)]="item.estoque" 
                    name="estoque-{{in}}"
                    #estoque="ngModel"
                    disabled>
                </div>
                <div class=" col-2">
                    <input type="number" class="form-control" id="subTotal-{{in}}"
                    [(ngModel)]="item.subTotal" 
                    name="subTotal-{{in}}"
                    #subTotal="ngModel"
                    disabled>
                </div>
                <span><br> <hr></span>
            </div>
            <div class="col-1">
                <button class="btn btn-info" type="button" (click)="adicionarItemPedido()">
                    &nbsp;+&nbsp;
                </button>
            </div>
           
            <div class="form-group float-right row">
                <div class="form-check-inline">
                    <button type="submit" class="btn btn-success btn-md" (click)="lancarPedidoVenda()">Salvar</button>
                </div>
                <div class="form-check-inline">
                    <button type="button" class="btn btn-secondary btn-md" (click)="cancelar()">Cancelar</button>
                </div>
            </div>

        </form>
    </div>
</div>
<!-- <span> {{pedidoVenda | json}} </span> -->