
.ngx-dropdown-container[_ngcontent-jst-c116] 
.ngx-dropdown-button[_ngcontent-jst-c116]{
        display: block !important;
        width: 100% !important;
        height: calc(1.5em + .75rem + 2px) !important;
        padding: .375rem .75rem !important;
        font-size: 1rem !important;
        font-weight: 400 !important;
        line-height: 1.5 !important;
        color: #495057 !important;
        background-color: #fff !important;
        background-clip: padding-box !important;
        border: 1px solid #ced4da !important;
        border-radius: .25rem !important;
        -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    }