<div class="card">
  <div class="card-body titulo" id="titulo">
    Listar Clientes
  </div>
</div>
<mat-form-field>
  <mat-label>Filtrar</mat-label>
  <input matInput #filtroTabela>
</mat-form-field>
<p>
<button mat-button (click)="abrirModalCliente('Adicionar',{})" mat-flat-button color="primary">Novo Cliente</button>
</p>
<div class="mat-elevation-z8">

  <table mat-table [dataSource]="fonteDeDadosDeClientes"  
      class="mat-elevation-z8" matSort
      matSortActive="nome" matSortDirection="asc" matSortDisableClear>

    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 12%;"> Nome </th>
      <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef  style="width: 5%;"> CPF </th>
      <td mat-cell *matCellDef="let element"> {{element.cpf}} </td>
    </ng-container>

    <ng-container matColumnDef="telefone">
      <th mat-header-cell *matHeaderCellDef > Telefone </th>
      <td mat-cell *matCellDef="let element"> {{element.telefone}} </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef > Endereço </th>
      <td mat-cell *matCellDef="let element"> {{element.endereco}} </td>
    </ng-container>


    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="abrirModalCliente('Editar',element)" class="btn btn-warning btn-md">Editar</a> |
        <a (click)="abrirModalCliente('Excluir',element)" class="btn btn-secondary btn-md">Deletar</a>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="cabecalhoTabelaClientes"></tr>
    <tr mat-row *matRowDef="let row; columns: cabecalhoTabelaClientes;"></tr>
  </table>

  <mat-paginator 
      [length]="fonteDeDadosDeClientes.numeroTotalDeRegistros$ | async" 
      [pageSizeOptions]="tamanhosDePagina" 
      [showFirstLastButtons]="true" 
      (page)="getPaginatorData($event)">
</mat-paginator>
</div>