<div class="card">
    <div class="card-body titulo" id="titulo">
      Listar Produtos
    </div>
  </div>
  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)">
  </mat-form-field>


    
    <button mat-button (click)="openModal('Adicionar',{})" mat-flat-button color="primary">Adicionar</button>

  
  <div class="mat-elevation-z8">

    <table mat-table [dataSource]="dataSource" #mytable class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nome </th>
        <td mat-cell *matCellDef="let element"> {{element.nome}} </td>
      </ng-container>

      <ng-container matColumnDef="descricao">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
        <td mat-cell *matCellDef="let element"> {{element.descricao}} </td>
      </ng-container>

      <ng-container matColumnDef="valor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
        <td mat-cell *matCellDef="let element"> {{element.valor}} </td>
      </ng-container>

      <!-- <ng-container matColumnDef="codigo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Código </th>
        <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
      </ng-container> -->


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" class="action-link">
          <a (click)="openModal('Editar',element)" class="btn btn-warning btn-md">Editar</a> |
         <span *appHasRole="['Admin','Funcionario']"> 
           <a (click)="openModal('Excluir',element)" class="btn btn-secondary btn-md">Deletar</a>
         </span> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator #paginator 
      [pageSizeOptions]="pageSizeOptions" 
      [showFirstLastButtons]="true" 
      (page)="getPaginatorData($event)"
      [length]="totalSize"
      [pageIndex]="currentPage" 
      [pageSize]="pageSize"
  
      >
</mat-paginator>

<span>
  {{pageSize}},
  {{totalSize}},
</span>
</div>

